{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}" media="all">
<link rel="stylesheet" href="{% static 'plugins/bulma/css/bulma.css' %}" type="text/css" media="all"/>
<link rel="stylesheet" href="{% static 'css/account/accounts.css' %}">
<link rel="stylesheet" href="{% static 'css/account/style.css' %}">
<script>
    addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    }
</script>
{% endblock %}

{% block body %}
<div class="w3layouts-main">
    <div class="bg-layer">
        <div class="container">
            <h1 class="welcome">
                <a href="{% url 'home' %}">
                    <div class="main-icon">
                        <span class="fa fa-home"></span>
                    </div>
                </a>
            </h1>
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>


{% endblock %}