{% extends 'base.html' %}

{% load static %}

{% block content %}
<!--/mid-sec-->
<br><br><br><br><br><br>
<section class="mid-sec py-5" id="menu">
    <div class="steps" id="onboardingSteps">
        <div id="stp1" class="step-item is-active" data-step-id="0">
            <div class="step-marker">1</div>
            <div class="step-details">
                <p class="step-title">Choose a Category</p>
            </div>
        </div>
        <div id="stp2" class="step-item" data-step-id="1">
            <div class="step-marker">2</div>
            <div class="step-details">
                <p class="step-title">Choose a Reaction</p>
            </div>
        </div>
        <div id="stp3" class="step-item" data-step-id="2">

            <div class="step-marker">3</div>
            <div class="step-details">
                <p class="step-title">Send Request</p>
            </div>
        </div>
        <div class="steps-content is-marginless pt-5">
            <div class="step-content is-active">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-4">
                            <div class="benifit-icon">

                                <span class="fa fa-bus" aria-hidden="true"></span>
                                <p>Bus</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-4">
                            <div class="benifit-icon">
                                <span class="fa fa-user" aria-hidden="true"></span>
                                <p>Operator</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-4">
                            <div class="benifit-icon">
                                <span class="fa fa-subway" aria-hidden="true"></span>
                                <p>Bus Stop</p>
                            </div>
                        </div>
                    </div>
                    <br><br><br>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-4">
                            <div class="benifit-icon">
                                <span class="fa fa-vcard" aria-hidden="true"></span>
                                <p>Bus Driver</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-4">
                            <div class="benifit-icon">
                                <span class="fa fa-unlock" aria-hidden="true"></span>
                                <p>Bus Line/Route</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-4">
                            <div class="benifit-icon">
                                <span class="fa fa-lock" aria-hidden="true"></span>
                                <p>New Bus Line/Route</p>
                            </div>
                        </div>
                    </div>
                    <br><br><br>
                </div>
            </div>
            <div class="step-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                            <div class="emoji-center">
                                <span style="font-size:100px;">&#128577;</span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                            <div class="emoji-center">
                                <span style="font-size:100px;">&#128577;</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="step-content">

            </div>
            <div class="steps-actions pl-4 pr-4 pt-4 pb-2">
                <div class="steps-action">
                    <a href="#" data-nav="previous" class="button is-light is-pulled-left is-marginless"
                       disabled="disabled">Previous</a>
                </div>
                <div class="steps-action">
                    <a href="#" data-nav="next" class="button blue is-right is-marginless">Next</a>

                    <form method="POST">
                        {% csrf_token %}
                        <!-- <input class="button green is-marginless" id="submit" name="submit" type="button" value="Submit" onclick="collect_data()" disabled="disabled"> -->
                        <input class="button green is-marginless" id="submit" name="submit" type="button"
                               value="Submit" disabled="disabled">
                    </form>
                </div>

            </div>
        </div>
    </div>

</section>
<!--//mid-sec-->

{% endblock %}

{% block js %}
<script>
    (function () {
        new bulmaSteps(document.getElementById('onboardingSteps'), {
            onShow: (id) => testActualStep(id)
        })

        function testActualStep(id) {
            if (id === 2) {
                $("#submit").removeAttr("disabled")
            }
            if (id === 1) {
                $("#submit").attr("disabled", "disabled");
            }
        }

        $('.checkbox').change(function () {
            if ($("#" + this.id + "_block").length) {
                $("#" + this.id + "_block").toggleClass("disabled");
            }
        });
    })();
</script>
{% endblock js%}
