{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="main-content" id="home">
    <div class="layer">
        <div class="container">
            <!-- /banner -->
            <div class="banner-info-w3ls text-left">
                <h3>Let's improve the Public Transport better together.</h3>
                <div class="read-more">
                    <a href="#about" class="read-more scroll btn">Read More </a></div>
            </div>
            <div class="row order-info">
                <div class="middle mt-md-3 col-sm-6 text-left"></div>
                <div class="middle-right mt-md-3 col-sm-6 text-sm-right">
                    <h6><span class="fa fa-phone"></span> Call Now : +6016-402-2146</h6>
                </div>
            </div>
            <div class="row order-info"></div>
        </div>
        <!-- //banner -->
    </div>
</div>

<!--/testimonials-->
{% if user.is_authenticated %}
<section class="testimonials" id="testimonials">
    <div class="layer test">
        <div class="container">
            <div class="test-info text-center">
                <h3 class="my-md-2 my-3">Jenifer Burns</h3>

                <ul class="list-unstyled w3pvt-icons clients mb-md-4">
                    <li>
                        <a href="#">
                            <span class="fa fa-star"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa fa-star"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa fa-star"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa fa-star-half-o"></span>
                        </a>
                    </li>
                </ul>
                <p><span class="fa fa-quote-left"></span> Lorem Ipsum has been the industry's standard since the 1500s.
                    Praesent ullamcorper dui turpis.Nulla pellentesque mi non laoreet eleifend. Integer porttitor
                    mollisar lorem, at molestie arcu pulvinar ut. <span class="fa fa-quote-right"></span></p>

            </div>
        </div>
    </div>
</section>


{% endif %}
<!--//testimonials-->

<!-- Gallery -->
<section class="gallery py-5" id="team">
    <div class="container py-md-5">
        <div class="header text-center">
            <h3 class="tittle mb-lg-5 mb-3">Top Drivers</h3>
        </div>
        <div class="row team-bottom">
            <div class="col-lg-3 col-sm-6 team-grid text-center">
                <img src="{% static 'images/t1.jpg' %}" class="img-fluid" alt="">
                <div class="caption">
                    <h4>Mack Joe</h4>
                    <ul class="list-unstyled w3pvt-icons">
                        <li>
                            <a href="#">
                                <span class="fa fa-facebook-f"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-twitter"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-dribbble"></span>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 team-grid mt-sm-0 mt-5 text-center">
                <img src="{% static 'images/t2.jpg' %}" class="img-fluid" alt="">
                <div class="caption">
                    <h4>Cruz Deo</h4>
                    <ul class="list-unstyled w3pvt-icons">
                        <li>
                            <a href="#">
                                <span class="fa fa-facebook-f"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-twitter"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-dribbble"></span>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 team-grid mt-lg-0 mt-5 text-center">
                <img src="{% static 'images/t3.jpg' %}" class="img-fluid" alt="">
                <div class="caption">
                    <h4>Rochy Jae</h4>
                    <ul class="list-unstyled w3pvt-icons">
                        <li>
                            <a href="#">
                                <span class="fa fa-facebook-f"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-twitter"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-dribbble"></span>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 team-grid mt-lg-0 mt-5 text-center">
                <img src="{% static 'images/t4.jpg' %}" class="img-fluid" alt="">
                <div class="caption">
                    <h4>Rojo Poy</h4>
                    <ul class="list-unstyled w3pvt-icons">
                        <li>
                            <a href="#">
                                <span class="fa fa-facebook-f"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-twitter"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-dribbble"></span>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
