{% extends 'base.html' %}

{% load static %}
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">-->
{% block stylesheet %}
<style>
    body {
      padding: 1rem;
      color: #797e86;
    }

    h1 {
      color: #18191b;
      margin-bottom: 2rem;
    }

    section {
      display: flex;
      flex-flow: row wrap;
    }

    section > div {
      flex: 1;
      padding: 0.5rem;
    }

    input[type="radio"] {
      display: none;
    }
    input[type="radio"]:not(:disabled) ~ label {
      cursor: pointer;
    }
    input[type="radio"]:disabled ~ label {
      color: #bcc2bf;
      border-color: #bcc2bf;
      box-shadow: none;
    }

    label {
      display: block;
      background: white;
      border: 1px solid #20df80;
      border-radius: 2px;
      padding: 1rem;
      margin-bottom: 1rem;
      text-align: center;
      box-shadow: 0px 3px 10px -2px rgba(161, 170, 166, 0.5);
      position: relative;
    }

    input[type="radio"]:checked + label {
      background: #20df80;
      color: white;
    }
    input[type="radio"]:checked + label::after {
      color: #3d3f43;
      font-family: FontAwesome;
      border: 2px solid #1dc973;
      content: "\f00c";
      font-size: 24px;
      position: absolute;
      top: -25px;
      left: 50%;
      transform: translateX(-50%);
      height: 50px;
      width: 50px;
      line-height: 50px;
      text-align: center;
      border-radius: 50%;
      background: white;
      box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.25);
    }

    p {
      font-weight: 900;
    }

    @media only screen and (max-width: 700px) {
      section {
        flex-direction: column;
      }
    }


    * {
        box-sizing: border-box;
    }

    #regForm {
        background-color: #ffffff;
        box-shadow: 10px 10px 10px #e1e1e1;
        margin: 100px auto;
        border: 2px solid #888888;
        border-radius: 50px 50px;
        font-family: Raleway;
        padding: 40px;
        width: 70%;
        min-width: 300px;
    }

    h1 {
        text-align: center;
    }

    input {
        padding: 10px;
        width: 100%;
        font-size: 17px;
        font-family: Raleway;
        border: 1px solid #aaaaaa;
    }

    /* Mark input boxes that gets an error on validation: */
    input.invalid {
        background-color: #ffdddd;

    }

    /* Hide all steps by default: */
    .tab {
        display: none;
        text-align: center;
    }

    button {
        background-color: #4CAF50;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        font-size: 17px;
        font-family: Raleway;
        cursor: pointer;
    }

    button:hover {
        opacity: 0.8;
    }

    #prevBtn {
        background-color: #bbbbbb;
    }

    /* Make circles that indicate the steps of the form: */
    .step {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbbbbb;
        border: none;
        border-radius: 50%;
        display: inline-block;
        opacity: 0.5;
    }

    .step.active {
        opacity: 1;
    }

    /* Mark the steps that are finished and valid: */
    .step.finish {
        background-color: #4CAF50;
    }
</style>
{% endblock %}

{% block content %}

<form id="regForm" method="post">
    {% csrf_token %}

    <!-- One "tab" for each step in the form: -->
    <div class="tab">Transport Category<br><br>
        <section>
            <div>
                <input type="radio" id="control_33" name="select0" onclick="nextPrev(1)" value="33">
                <label for="control_33">
                    <img src="{% static 'images/bus.png' %}" width="100"/>
                </label>
            </div>
            <div>
                <input type="radio" id="control_34" name="select0" onclick="nextPrev(1)" value="34">
                <label for="control_34">
                    <img src="{% static 'images/express-bus-coach.png' %}" width="100"/>
                </label>
            </div>
            <div>
                <input type="radio" id="control_35" name="select0" onclick="nextPrev(1)" value="35">
                <label for="control_35">
                    <img src="{% static 'images/train.png' %}" width="100"/>
                </label>
            </div>
        </section>
    </div>
    <div class="tab">What are you feeling now?<br><br>
        <section>
            <div>
                <input type="radio" id="control_01" name="select" onclick="nextPrev(2)" value="1">
                <label for="control_01">
                    <img src="{% static 'images/smile.png' %}" width="100"/>
                </label>
            </div>
            <div>
                <input type="radio" id="control_02" name="select" onclick="nextPrev(2)" value="2">
                <label for="control_02">
                    <img src="{% static 'images/angry.png' %}" width=100"/>
                </label>
            </div>

        </section>
    </div>

    <div class="tab">Feedback Category<br><br>
        <section>
            <div>
                <input type="radio" id="control_03" name="select1" onclick="nextPrev(3)" value="3">
                <label for="control_03">
                    <h2>Bus</h2>
                </label>
            </div>
            <div>
                <input type="radio" id="control_04" name="select1" onclick="nextPrev(3)" value="4">
                <label for="control_04">
                    <h2>Driver</h2>
                </label>
            </div>
            <div>
                <input type="radio" id="control_05" name="select1" onclick="nextPrev(3)" value="5">
                <label for="control_05">
                    <h2>Bus Stop</h2>
                </label>
            </div>
            <div>
                <input type="radio" id="control_06" name="select1" onclick="nextPrev(3)" value="6">
                <label for="control_06">
                    <h2>Operator</h2>
                </label>
            </div>
        </section>
        <section>
            <div>
                <input type="radio" id="control_13" name="select1" onclick="nextPrev(3)" value="13">
                <label for="control_13">
                    <h2>Route</h2>
                </label>
            </div>
            <div>
                <input type="radio" id="control_14" name="select1" onclick="nextPrev(3)" value="14">
                <label for="control_14">
                    <h2>Fare</h2>
                </label>
            </div>
            <div>
                <input type="radio" id="control_15" name="select1" onclick="nextPrev(3)" value="15">
                <label for="control_15">
                    <h2>Safety</h2>
                </label>
            </div>
            <div>
                <input type="radio" id="control_16" name="select1" onclick="nextPrev(3)" value="16">
                <label for="control_16">
                    <h2>New Line</h2>
                </label>
            </div>
        </section>
        <section>
            <div>
                <input type="radio" id="control_23" name="select1" onclick="nextPrev(3)" value="23">
                <label for="control_23">
                    <h2>MAAS</h2>
                </label>
            </div>
            <div>
                <input type="radio" id="control_24" name="select1" onclick="nextPrev(3)" value="24">
                <label for="control_24">
                    <h2>Walkability</h2>
                </label>
            </div>
            <div>
                <input type="radio" id="control_25" name="select1" onclick="nextPrev(3)" value="25">
                <label for="control_25">
                    <h2>Technical</h2>
                </label>
            </div>
            <div>
                <input type="radio" id="control_26" name="select1" onclick="nextPrev(3)" value="26">
                <label for="control_26">
                    <h2>Other</h2>
                </label>
            </div>
        </section>

    </div>
    <!-- Circles which indicates the steps of the form: -->
    <div style="text-align:center;margin-top:40px;">
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
    </div>
</form>

{% endblock %}

{% block js %}
<script>
    var currentTab = 0; // Current tab is set to be the first tab (0)
    showTab(currentTab); // Display the crurrent tab

    function showTab(n) {
        // This function will display the specified tab of the form...
        var x = document.getElementsByClassName("tab");
        x[n].style.display = "block";
        //... and run a function that will display the correct step indicator:
        fixStepIndicator(n)
    }

    function nextPrev(n) {
        // This function will figure out which tab to display
        var x = document.getElementsByClassName("tab");
        // Exit the function if any field in the current tab is invalid:
        // Hide the current tab:
        if(n==1 || n==2)
        {
            setTimeout(() => {
                x[currentTab].style.display = "none";
                // Increase or decrease the current tab by 1:
                currentTab = currentTab + 1;
                // if you have reached the end of the form...
                if (currentTab >= x.length) {
                    // ... the form gets submitted:
                    document.getElementById("regForm").submit();
                    return false;
                }
                // Otherwise, display the correct tab:
                showTab(currentTab);
                }, 300);

        }
        if(n==3) {
            // Increase or decrease the current tab by 1:
            currentTab = currentTab + 1;
            // if you have reached the end of the form...
            if (currentTab >= x.length) {
                // ... the form gets submitted:
                document.getElementById("regForm").submit();
                return false;
            }
            // Otherwise, display the correct tab:
            showTab(currentTab);
        }
    }


    function fixStepIndicator(n) {
        // This function removes the "active" class of all steps...
        var i, x = document.getElementsByClassName("step");
        for (i = 0; i < x.length; i++) {
            x[i].className = x[i].className.replace(" active", "");
        }
        //... and adds the "active" class on the current step:
        x[n].className += " active";
    }
</script>
{% endblock js%}
